#technologies {
  width: 100%;
  overflow-x: hidden;
}

.Technology {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 3rem;
  margin-bottom: 2rem;
}

.t-title {
  color: var(--title);
  font-weight: bold;
  font-size: 3rem;
}

.t-button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

.t-sliding-div {
  width: 100%;
  left: 0;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .t-button {
    padding: 19px 32px;
  }
}

.t-button:before,
.t-button:after {
  border-radius: 80px;
}

.t-button:before {
  background-image: linear-gradient(92.83deg, #2659ff 0, #6b13f9 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.t-button:after {
  background-color: initial;
  background-image: linear-gradient(#1ad6d6 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.t-button:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(249, 58, 19) 100%
  );
}

.t-button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.t-button:active:not(:disabled) {
  color: #ccc;
}

.t-button:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #2659ff 0, #6b13f9 100%);
}

.t-button:active:not(:disabled):after {
  background-image: linear-gradient(#1ad6d6 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.t-button:disabled {
  cursor: default;
  opacity: 0.24;
}

@media screen and (max-width: 480px) {
  #technologies {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Technology {
    height: auto;
    margin-top: 1rem;
    gap: 2rem;
    padding: 1.5rem;
  }
  .Technology {
    margin-bottom: 10%;
    width: 22%;
    height: auto;
    margin-top: 0.5rem;
    gap: 1.5rem;
    padding: 1rem;
  }

  .t-title {
    font-size: clamp(2rem, 6vw, 2.2rem);
    width: 490%;

    display: flex;
    justify-content: center;
  }

  .t-button {
    margin-top: -30%;
    padding: 16px 24px;
    font-size: clamp(12px, 5vw, 14px);
  }
  .t-btn {
    width: 130%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
  }
  .t-sliding-div {
    transform: scale(0.7);
    width: 650%;
    margin: 0;
  }
}
