.proj-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--title);
  margin: 0;
}

.pd-intro {
  width: 100%;
  min-height: 55vh;
  max-height: 90vh;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}

.pd-left {
  flex: 1;
  font-size: 0.9rem;
  margin-right: 10px;
  margin-left: 0px;
}

.pd-right {
  width: 100%;
  height: 100%;
  color: white;
  flex: 1;
}

.pd-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.pd-btn-width {
  width: 300px;
  margin: 20px;
  padding: 20px;
}

.pd-link a {
  margin-left: 4rem;
  margin-right: 4rem;
}

.project-container {
  width: 96.3vw;
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6eaf4;
  padding: 20px;
}

.pd-img-name {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--black);
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.pd-proj-info {
  display: flex;
  width: 100%;
  height: 70vh;
  margin: 0;

  margin-bottom: 4rem;
}

.pd-proj-info-title-left {
  flex: 1;
  margin-left: 10px;
  margin-top: 5rem;
}

.pd-proj-info-title-left p {
  margin-left: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}
.pd-proj-p1,
.pd-proj-p2 {
  color: var(--black);
}
.pd-proj-p3 {
  color: var(--blue);
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}

.pd-proj-info-right {
  color: white;
  flex: 1;
  margin-top: 3rem;
}

.pd-proj-info-right ul li {
  font-size: 0.9rem;
  margin-top: 10px;
  justify-content: space-between;
  color: black;
  list-style: circle;
}
.pd-proj-tech-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}
.pd-proj-tech ul li {
  font-size: 0.8rem;
  margin-top: 3px;
  justify-content: space-between;
  color: black;
  list-style: circle;
}

.pd-back-btn {
  visibility: visible;
  width: 100px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.pd-b-btn {
  background-color: #333333;
  color: white;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 8px;
  padding: 10px;
}

.pd-b-btn:hover {
  background-color: #696666;
  color: white;
}
.pd-b-btn:active {
  color: black;
  background-color: #8989bb;
}

.pd-footer {
  color: var(--blue);
  font-weight: bold;
  font-size: 4rem;

  margin: 0;
}

.pd-video {
  width: 100%;
  height: auto;
}

.pd-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  .project-container {
    transform: scale(0.6);
    margin-top: -160%;
  }

  .proj-title {
    height: 40vh;
    display: flex;
    margin-left: -15px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 180%;
    text-align: center;
  }

  .pd-intro {
    width: 140%;
    min-height: 55vh;
    max-height: 180vh;
    margin-top: -5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
  }

  .pd-left {
    flex: 1;
    width: 160%;

    font-size: 1.3rem;
    margin-right: 10px;
    margin-left: 0%;
    margin-top: 90%;
  }

  .pd-right {
    transform: scale(1.5);
    margin-top: 100px;
    margin-left: -470px;
    width: 200%;
    height: 200%;
    color: white;
    flex: 1;
  }

  .pd-link {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-left: 100%;
    margin-right: 110%;
    align-items: center;
    height: 15vh;
    width: 100%;
  }

  .pd-link a {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .pd-img-name {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--black);
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .pd-proj-info {
    display: flex;
    width: 100%;
    text-align: center;
    height: 90vh;
    margin-left: -50px;
    margin-bottom: 4rem;
  }

  .pd-img-name {
    transform: scale(2.5);
    text-transform: capitalize;
  }

  .pd-proj-info-title-left {
    transform: scale(1.5);
    flex: 1;
    margin-left: 10px;
    margin-top: 5rem;
  }

  .pd-proj-info {
    margin-top: -50%;
  }

  .pd-back-btn {
    visibility: hidden;
  }

  .pd-proj-info-right {
    transform: scale(1.5);
    margin-top: 90%;
    margin-left: -100%;
  }

  .pd-footer {
    transform: scale(1.4);
    width: 170%;
    margin-left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
