.logo-container {
  padding: 60px 20px;
  text-align: center;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  
}

.logo-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: var(--black)
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotateShine 6s linear infinite;
  z-index: 0;
}

.logo-image {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: cover;
  
  margin-bottom: 20px;
  
  z-index: 1;
}

.logo-text {
  position: relative;
  z-index: 1;
  color: var(--electric-blue
  );
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

@keyframes rotateShine {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.mainLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
background-color: #1d2b34;;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensures it stays on top */
  display: flex;
  flex-direction: column;
}

.main-loader {
  transform: scale(2);
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.main-loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
