.all-tech-container {
  width: 96vw;
  max-width: 1920px; /* Full screen width */
  min-height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6eaf4;
  padding: 20px;
}

.tech-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  width: 90%; /* Cover almost full width */
  max-width: 1200px; /* Prevents it from stretching too much on large screens */
  justify-content: center;
  align-items: center;
}

.tech-card {
  background: #c6c7e3;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tech-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.tech-name {
  font-size: 0.8rem;
  margin-top: 10px;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
}

.tech-text {
  margin-top: 1%;
  margin-bottom: 2%;
}
