.well-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  height: 75px;

  background: rgba(30, 144, 255, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(30, 144, 255, 0.4);
  color: #ffffff;
  border-radius: 12px;

  box-shadow: 0 0 12px rgba(0, 191, 255, 0.1);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.well-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.Floating-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 5px;
}

.f-image {
  width: 70px;
}

.f-text {
  font-size: 20px;
  font-weight: 500;
  color: var(--text);
  word-wrap: break-word;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .well-box {
    width: 140px;
    height: 50px;
  }
  .f-image {
    width: 38px;
    padding-left: 5px;
  }
  .f-text {
    font-size: 14px;
  }
}
